<footer >
    <div class="container" >
        <p >Copyright Etienne Blanc-Coquand © - All right reserved</p >
        <ul >
            <li >Suivez-moi sur :</li >
            <li ><a href="https://twitter.com/bcetienne" >Twitter - </a ></li >
            <li ><a href="https://www.linkedin.com/in/etienne-blanc-coquand-32b483b1/" >LinkedIn - </a ></li >
            <li ><a href="https://plus.google.com/u/0/115280005967073431560" >Google+</a ></li >
            <li ><a style="display: none" target="_blank"
                    href="https://www.vexels.com/vectors/preview/137283/google-icon-logo" ></a ></li >
        </ul >
    </div >
</footer >
