<div class="navbar-responsive" >
    <nav >
        <ul >
            <li ><a href="#" class="scroll" id="about0" >A propos</a ></li >
            <li ><a href="#" class="scroll" id="skill0" >Compétences</a ></li >
            <li ><a href="#" class="scroll" id="experience0" >Expériences</a ></li >
            <li ><a href="#" class="scroll" id="work0" >Réalisations</a ></li >
        </ul >
    </nav >
</div >
<header>
    <div class="container" >
        <div class="logoNavBar row" >
            <div class="logo col-9 col-lg-6" >
                <h1 >ETIENNE <span >Blanc-Coquand</span ></h1 >
                <hr >
                <!--<h2 >Web, Design</h2 >-->
            </div >
            <div class="navbar col-3 col-lg-6" >
                <nav class="hidden-md-down" >
                    <ul >
                        <li ><a class="scroll hvr-underline-from-left" id="about" href="#" >A propos</a ></li >
                        <li ><a class="scroll hvr-underline-from-left" id="skill" href="#" >Compétences</a ></li >
                        <li ><a class="scroll hvr-underline-from-left" id="experience" href="#" >Expériences</a ></li >
                        <li ><a class="scroll hvr-underline-from-left" id="work" href="#" >Réalisations</a ></li >
                    </ul >
                </nav >
                <nav class="hidden-lg-up" >
                    <ul >
                        <li ><a href="#" ><img class="menu" src="img/site/menu.svg" alt="menu.svg" ></a ></li >
                    </ul >
                </nav >
            </div >
        </div >
        <h1 class="catchPhrase" >Je suis <span id="word" >curieux</span ></h1 >
        <a class="scroll down-arrow" id="aboutDownArrow" href="#" ><img src="img/site/down-arrow.svg" alt="down" ></a >
    </div >
</header >
